/* Variables */


/* Main styles - mobile */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.0em 1.5em;
  color: var(--dark-gray);
  background-color: var(--white);
}

.header__left {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.logo {
  max-height: 44px;
  cursor: pointer;
}

.site-title {
  display: inline;
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--dark-gray);
}

.menu-mobile {
  display: block;
}

.menu-mobile__icon {
  cursor: pointer;
  display: block;
}
.menu-mobile__icon--hidden {
  display: none;
}

.menu-mobile__content {
  position: absolute;
  width: 100%;
  top: 78px;
  left: 0;
  background-color: var(--light-gray);
  box-shadow:  0px 4px 5px -2px rgba(0,0,0, 0.17), 0px 4px 10px rgba(0,0,0, 0.12);
}

.menu-mobile__list {
  list-style: none;
  padding: 0;
  text-align: right;
  margin: 0;
}

/* .menu-mobile__list__item {
  text-decoration: none;
  color: var(--dark-gray);
} */

.menu-mobile__list__item {
  padding: 1rem 1.5rem 1rem 0;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 70%);
  border-top-width: 0;
  border-left: none;
  border-right: none;
}
.menu-mobile__list__item:first-child{
  border-top-width: 1px;
}

.menu-spread {
  display: none;
}

.menu-spread__list {
  list-style: none;
  padding: 0;
  /* text-align: right; */
  margin: 0;
  display: flex;
  gap: 1rem;
}

.menu-spread__list__item {
  --primary-dark: hsl(var(--primary-hue), 89%, 12%);

  padding: 1.2rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}
.menu-spread__list__item:hover {
  background-color: var(--primary-brighter);
  color: var(--primary-dark);
}

.menu-spread__list__item--selected {
  background-color: var(--primary-brighter);
  color: var(--primary-dark);
}


/* Media queries - tablets and small desktops */
@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }

  .menu-spread {
    display: block;
  }
}

/* Media queries - horizontal tablets, desktops and larger */
@media screen and (min-width: 1200px) {
  
}