<div class="footer">
  <div class="logo-container">
    <img src="../../assets/logo-monochrome-white.svg" class="logo">
    <h2 class="title">Liqcalc Jobs</h2>
  </div>

  <ul class="site-map">
    <a class="site-map__link" (click)="handleClickSearch()">
      <li class="site-map__link__label">Buscar vaga</li>
    </a>

    <a class="site-map__link" (click)="handleClickCreate()">
      <li class="site-map__link__label">Cadastrar vaga</li>
    </a>

    <a class="site-map__link" (click)="handleClickCalculator()">
      <li class="site-map__link__label">Calcular salário</li>
    </a>
  </ul>

  <div class="author">
    <div class="author__name">
      Autor: Maurício J. Gomes
    </div>

    <div class="author__social">
      <div class="author__social__icon author__social__icon--linkedin" (click)="openLinkedin()">
        <div class="social-icon social-icon--linkedin"></div>
      </div>
      <div class="social-icon social-icon--whatsapp" (click)="openWhatsapp()"></div>
      <div class="social-icon social-icon--github" (click)="openGithub()"></div>
      
    </div>
  </div>
</div>
