<div class="search">
  <section class="search__content">

    <div class="filters-container">
      <h2 class="filters-container__title">BUSCAR VAGA</h2>

      <div class="filters">
        <form #searchForm="ngForm">
          <fieldset [class.fieldset--expanded]="isFilterExpanded && isMobileClient">
            <mat-form-field appearance="outline" class="filter-field keyword-field">
              <mat-label>{{searchFields.keyword.label}}</mat-label>
              <input
                matInput
                type="text"
                class="keyword-field__input"
                name="keyword"
                [(ngModel)]="searchFields.keyword.value"
              >
              
              <mat-icon class="material-icons-outlined filter-field__icon-prefix" matPrefix>search</mat-icon>

              <mat-icon
                class="material-icons-outlined filter-field__icon-suffix"
                [class.filter-field__icon-suffix--visible]="searchFields.keyword.value"
                matSuffix
                (click)="clearKeywordField()"
              >
                cancel
              </mat-icon>

            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-field level-field" *ngIf="isFilterExpanded || !isMobileClient">
              <mat-label>{{searchFields.level.label}}</mat-label>
              <mat-select
                multiple
                name="level"
                [(ngModel)]="searchFields.level.value"
              >
                <mat-option
                  *ngFor="let option of searchFields.level.options"
                  [value]="option.value"
                >
                  {{option.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-field contract-field" *ngIf="isFilterExpanded || !isMobileClient">
              <mat-label>{{searchFields.contract.label}}</mat-label>
              <mat-select
                multiple
                name="contract"
                [(ngModel)]="searchFields.contract.value"
              >
                <mat-option
                  *ngFor="let option of searchFields.contract.options"
                  [value]="option.value"
                >
                  {{option.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-field regime-field" *ngIf="isFilterExpanded || !isMobileClient">
              <mat-label>{{searchFields.regime.label}}</mat-label>
              <mat-select
                multiple
                name="regime"
                [(ngModel)]="searchFields.regime.value"
              >
                <mat-option
                  *ngFor="let option of searchFields.regime.options"
                  [value]="option.value"
                >
                  {{option.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="filter-field salary-field" *ngIf="isFilterExpanded || !isMobileClient">
              <mat-label>{{searchFields.salaryRange.label}}</mat-label>
              <mat-select multiple name="salaryRange" [(ngModel)]="searchFields.salaryRange.value">
                <mat-option
                  *ngFor="let option of searchFields.salaryRange.options"
                  [value]="option.value"
                >
                  {{option.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </fieldset>
        </form>

        <div class="expand-wrapper">
          <ng-container *ngIf="!isFilterExpanded">
            <div class="expand-wrapper__label">expandir</div>
            <button mat-mini-fab>
              <mat-icon class="material-icons-outlined" (click)="expandFilters()">expand_more</mat-icon>
            </button>

          </ng-container>

          <ng-container *ngIf="isFilterExpanded">
            <div class="expand-wrapper__label">recolher</div>
            <button mat-mini-fab>
              <mat-icon class="material-icons-outlined" (click)="collapseFilters()">expand_less</mat-icon>
            </button>

          </ng-container>
        </div>
      </div>

      <div class="opportunities-list">

        <ng-container *ngIf="opportunities.length > 0 && !isLoading">
          <p class="opportunities-list__counter">
            {{ opportunities.length + ' vagas encontradas' }}
          </p>
  
          <ng-container *ngFor="let opportunity of opportunities">
            <app-opportunity-card [value]="opportunity" (click)="handleClickCard(opportunity)">
            </app-opportunity-card>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="opportunities.length == 0 && !isLoading">
          <p class="feedback-message">Nenhuma vaga encontrada nessa busca</p>
          <p class="feedback-tip">Dica: você pode alterar os filtros para obter resultados diferentes.</p>
        </ng-container>

        <ng-container *ngIf="isLoading">
          <div class="loader-wrapper">
            <app-loader></app-loader>
          </div>
        </ng-container>
        
      </div>
    </div>

  </section>
</div>