/* Styles reset */ 
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	margin: 0;
	font-family: Roboto, 'Roboto', "Helvetica Neue", sans-serif;
}

/* Special font declaration */
@font-face {
	font-family: 'Basic Dev Social';
	font-style: normal;
	font-weight: 400;
	src: url('./../assets/fonts/basic-dev-social.woff'),
		url('./../assets/fonts/basic-dev-social.ttf');
}

/* Global Variables */
:root {
	--primary-hue: 231;
	--secondary-hue: 271;
	--primary: hsl(var(--primary-hue), 89%, 51%);
	--secondary: hsl(var(--secondary-hue), 86%, 49%);
	--primary-light: hsl(var(--primary-hue), 100%, 70%);
	--primary-brighter: hsl(var(--primary-hue), 35%, 90%);
	--secondary-light: hsl(var(--secondary-hue), 70%, 70%);

	--dark-gray: #333333;
	--gray: #525252;
	--light-gray: #f2f2f2;
	--white: #ffffff;
}
