/* Styles reset */ 
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	margin: 0;
	font-family: Roboto, 'Roboto', "Helvetica Neue", sans-serif;
}

/* Special font declaration */
@font-face {
	font-family: 'Basic Dev Social';
	font-style: normal;
	font-weight: 400;
	src: url('./../assets/fonts/basic-dev-social.woff'),
		url('./../assets/fonts/basic-dev-social.ttf');
}

.social-icon {
	font-family: 'Basic Dev Social' !important;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-icon--whatsapp:before {
	content: "\e900";
}

.social-icon--github:before {
	content: "\e901";
}

.social-icon--linkedin:before {
	content: "\e902";
}

/* Global Variables */
:root {

	/* Colors */

	--primary-hue: 231;
	--secondary-hue: 271;
	--primary: hsl(var(--primary-hue), 89%, 51%);
	--secondary: hsl(var(--secondary-hue), 86%, 49%);
	--primary-light: hsl(var(--primary-hue), 100%, 70%);
	--primary-brighter: hsl(var(--primary-hue), 35%, 90%);
	--secondary-light: hsl(var(--secondary-hue), 70%, 70%);

	--dark-gray: #333333;
	--gray: rgb(82, 82, 82);
	--light-gray: rgb(242, 242, 242);
	--white: #ffffff;

	/* Spacing */

	--rwd-horizontal-padding: 5vw;
}