/* Variables */

/* Main styles - mobile-first */
.start {

}

.start__content {
  width: 100%;
  /* max-width: 1064px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hero-section {
  box-sizing: border-box;
  padding: 1.5em;
  width: 100%;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

.hero-section__content {
  width: 100%;
  position: relative;
  max-width: 775px;
  margin: 0 auto;
}

.hero-section__content__title {
  color: var(--white);
}

.hero-section__content__instruction {
  color: var(--white);
  font-size: 0.8em;
  letter-spacing: 0.05em;
  display: inline-block;
  max-width: 70%;
  margin: 0.5em 0 0.7em 0;
}

.hero-section__content__bottom {
  color: var(--white);
  font-size: 0.8em;
  letter-spacing: 0.05em;
  display: inline-block;
  margin: 0.5em 0 1.2em 0;
}

.big-search {
  width: 100%;
}

.big-search__input {
  color: var(--dark-gray);
}

.big-search__icon {
  position: absolute;
  top: 0.15em;
  right: 0.1em;
  color: var(--gray);
}

.hexagon {
  position: absolute;
  display: inline-block;
  height: 200px;
  bottom: -2.5rem;
  left: clamp(12rem, 66%, 40rem);
}

.opportunities {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border-radius: 4px;
  background-color: var(--primary-light);
  height: 100px;
  width: 33%;
}

/* Media queries */

@media screen and (min-width: 600px) {
  .hexagon {
    height: 240px;
    bottom: -3rem;
    left: clamp(25rem, 77%, 40rem);
  }
}

@media screen and (min-width: 1024px) {
  .hexagon {
    height: 256px;
    bottom: -4rem;
  }
}