<div class="start">
  <div class="start__content">

    <section class="hero-section">
      <div class="hero-section__content">

        <h1 class="hero-section__content__title">Encontre aqui sua vaga</h1>

        <p class="hero-section__content__instruction">Digite o cargo que procura, por exemplo: desenvolvedor</p>

        <form>
          <mat-form-field appearance="outline" class="big-search">
            <input matInput type="text">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </form>

        <p class="hero-section__content__bottom">+ de 300 vagas registradas</p>

      </div>
    </section>

    <section class="opportunities">
      <div class="card">Teste</div>
      <div class="card">Teste</div>
      <div class="card">Teste</div>
      <div class="card">Teste</div>
      <div class="card">Teste</div>
      <div class="card">Teste</div>
    </section>

  </div>

</div>
