<div class="start">
  <div class="start__content">

    <section class="hero-section">
      <div class="hero-section__content">

        <h1 class="hero-section__content__title">Encontre aqui sua vaga</h1>

        <p class="hero-section__content__instruction">Digite o cargo que procura, por exemplo: desenvolvedor</p>

        <form #searchForm="ngForm">
          <mat-form-field appearance="outline" class="big-search">
            <input
              matInput
              type="text"
              class="big-search__input"
              name="search"
              [(ngModel)]="searchTerm"
              (keydown)="handleTypeSearch($event)"
            >
            <!-- Try to use mat-icon -->
            <!-- <mat-icon matSuffix>search</mat-icon> -->
            <span class="material-icons-outlined big-search__icon">
              search
            </span>
          </mat-form-field>
        </form>

        <img src="assets/hexagon.svg" #imageHexagon class="hexagon">

        <p class="hero-section__content__bottom">+ de 300 vagas registradas</p>

      </div>
    </section>

    <section class="opportunities">
      <h2 class="opportunities__title">NOVAS VAGAS</h2>

      <div class="opportunities__list">
        <div class="card" *ngFor="let opportunity of newOpportunities | slice:0:3">
          <header class="card__header">
            <h3 class="card__header__title">Titulo da vaga</h3>
            <p class="card__header__level">Nivel</p>
          </header>
          <div class="card__text">Nome da empresa (Local)</div>
          <div class="card__text">Salario a combinar</div>
          <div class="card__text">Contrato - regime</div>
        </div>
        
      </div>

      <div class="opportunities__large-list">
        <div class="card" *ngFor="let opportunity of newOpportunities">
          <header class="card__header">
            <h3 class="card__header__title">Titulo da vaga</h3>
            <p class="card__header__level">Nivel</p>
          </header>
          <div class="card__text">Nome da empresa (Local)</div>
          <div class="card__text">Salario a combinar</div>
          <div class="card__text">Contrato - regime</div>
        </div>
      </div>

    </section>

  </div>

</div>
