/* Variables */

/* Main styles - mobile-first */
.start__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hero-section {
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  width: 100%;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  overflow: hidden;
}

.hero-section__content {
  width: 100%;
  position: relative;
  max-width: 775px;
  margin: 0 auto;
}

.hero-section__content__title {
  color: var(--white);
}

.hero-section__content__instruction {
  color: var(--white);
  font-size: 0.8em;
  letter-spacing: 0.05em;
  display: inline-block;
  max-width: 70%;
  margin: 0.5em 0 0.7em 0;
}

.hero-section__content__bottom {
  color: var(--white);
  font-size: 0.8em;
  letter-spacing: 0.05em;
  display: inline-block;
  margin: 0.5em 0 1.2em 0;
}

.big-search {
  width: 100%;
}

.big-search__input {
  color: var(--dark-gray);
}

.big-search__icon {
  position: absolute;
  top: 0.15em;
  right: 0.1em;
  color: var(--gray);
}

.hexagon {
  position: absolute;
  display: inline-block;
  height: 200px;
  bottom: -2.5rem;
  left: clamp(12rem, 66%, 40rem);
}

.opportunities {
  box-sizing: border-box;
  /* padding: 1.5em; */
  padding: 1.5rem 1rem;
  width: 100%;
  /* display: flex;
  flex-wrap: wrap;
  gap: 10px; */
}

.opportunities__title {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--dark-gray);
  margin-top: 0.5em;
}

.opportunities__list {
  display: block;
}

.opportunities__large-list {
  display: none;
}

.card {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--primary-brighter);
  width: 100%;
  padding: 1em;
  margin-bottom: 1.2rem;
  color: var(--dark-gray);
  box-shadow: var(--material-shadow);
  border: 1px solid;
  border-bottom-color: #959595;
  border-right-color: #c5c5c5;
  border-left-color: #c5c5c5;
  border-top-color: #ddd;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 0.5em;
}

.card__header__title {
  margin: 0;
  display: inline-block;
}

.card__header__level {
  margin: 0;
  display: inline-block;
}

.card__text {
  margin-bottom: 0.5em;
}
.card__text:last-child {
  margin-bottom: 0;
}

/* Media queries */

@media screen and (min-width: 600px) {
  .hexagon {
    height: 240px;
    bottom: -3rem;
    left: clamp(25rem, 77%, 40rem);
  }
}

@media screen and (min-width: 1024px) {
  .hexagon {
    height: 256px;
    bottom: -4rem;
  }

  .opportunities__list {
    display: none;
  }

  .opportunities__large-list {
    display: block;
  }
}