html, body{
    margin: 0;
    padding: 0;

    
}

body{
    background-color: #4b6fae;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Basic Dev Social';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/basic-dev-social.woff'),
        url('./assets/fonts/basic-dev-social.ttf');
}